.TreeMenuContainer {
  border-radius: 4px;
  padding: 18px;
  user-select: none;
}

.SelectMenu {
  padding-top: 3px;
  margin-right: 4px;
}

.ParentContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 500;
  width: 100%;
  border: none;
  background-color: #2f2f2f;
  color: #fff;
}

.ParentContainer:hover {
  background-color: #3f3f3f;
}

.ParentContainer:focus {
  background-color: #1c1c1c;
}

.ParentContainer:active {
  outline: 2px solid rgb(63, 63, 63);
}

.ChildContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: #2f2f2f;
  color: #fff;
}

.ChildContainer:hover {
  background-color: #3f3f3f;
}

.ChildContainer:focus {
  background-color: #1c1c1c;
}

.ChildContainer:active {
  outline: 2px solid rgb(63, 63, 63);
}

.Name {
  display: flex;
  align-items: center;
}

.Size {
  font-size: 12px;
  font-family: sans-serif;
}

.ChildContainer:hover {
  background-color: #3f3f3f;
}
