.FileContent {
  width: 100%;
  background-color: var(--content-background-color);
  font-size: 16px;
  font-family: monospace;
  padding: 24px;
}

pre {
  padding-right: 24px;
  white-space: pre-wrap;
  border: 1px solid var(--content-background-color);
  width: 97%;
}
