:root {
  /* theme */
  --filexplorer-bgcolor: #2f2f2f;
  --hover: #3f3f3f;
  --focused: #1c1c1c;
  --white: #fff;
}

.TreeMenuContainer {
  border-radius: 4px;
  padding: 18px;
  user-select: none;
}

.SelectMenu {
  padding-top: 3px;
  margin-right: 4px;
}

.ParentContainer {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 500;
  width: 100%;
  border: none;
  background-color: var(--filexplorer-bgcolor);
  color: var(--white);
}

.ParentContainer:hover,
.ChildContainer:hover {
  background-color: var(--hover);
}

.ParentContainer:focus,
.ChildContainer:focus {
  background-color: var(--focused);
}

.ParentContainer:active,
.ChildContainer:active {
  outline: 2px solid rgb(63, 63, 63);
}

.ChildContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  font-family: sans-serif;
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: var(--filexplorer-bgcolor);
  color: var(--white);
}

.Name {
  display: flex;
  align-items: center;
}

.Size {
  font-size: 12px;
  font-family: sans-serif;
}
